.msgWrap{
    width: fit-content;
    max-width: 45%;
    margin-bottom: 0.35em;
}

.msgWrap .textSender{
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(47, 255, 75);

    padding-inline: 0.5em;
    padding-block: 0.25em;
}

.msgWrap .textContent{
    font-size: 0.9em;
    padding-block: 0.25em;
    padding-inline-start: 0.25em;

}

.msgWrap .timeStamp{
    position: relative;
    right: -0.75em;
    font-size: 0.8em;
    color: rgb(63, 63, 63);
}